<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="FoodApp apps, submission for Dicoding front-end web developer expert class.">
</head>
<body>

<header>
    <a href="#content" class="skip-link">Skip to Content</a>
    <a id="hamburger" class="header-menu" href="#">☰</a>
    <nav id="drawer">
        <a href="index.html" class="drawer-title">FoodApp</a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://www.facebook.com/kamandanu/" target="_blank" rel="noopener">About Us</a></li>
        </ul>
    </nav>
    
    <a href="index.html" class="main-title">FoodApp</a>
</header>

<main>
    <section class="jumbotron">
        <h1 class="jumbotron-title">WELLCOME TO FOOD APP</h1>
    </section>

    <article id="content">
        <h2>Explore Restaurant</h2>
        <article class="wrapper"></article>
    </article>
</main>

<footer>
    <p>Copyright © 2021 - FoodApp</p>
</footer>

</body>
</html>
